
<nav id="navbar" class="navbar">
    <div id="turkishh">
        <ul>
            <li><a href="/Home/Index">Anasayfa</a></li>

            <li class="dropdown">
                <a href="#"><span>Sempozyum Hakkında</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Invitation">Davet</a></li>
                    <li><a href="/Home/Committee">Komite</a></li>
                    <li><a href="/Home/Important_Date">Önemli Tarihler</a></li>
                    <li><a href="/Home/General_Information">Genel Bilgiler</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>Bilimsel İçerik</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Subject_Headings">Konu Başlıkları</a></li>
                    <li><a href="/Home/Program">Bilimsel Program</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>Bildiriler</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Abstract_Rules">Kurallar</a></li>
                    <li><a href="/Home/Writing_Rules">Yazım Kuralları</a></li>
                    <li><a href="/Home/Submit_Abstract">Özet Gönder</a></li>
                    <li><a href="/Home/Accepted_Abstract">Kabul Edilen Özetler</a></li>
                    <li><a href="/Home/Submit">Tam Metin Gönder</a></li>
                </ul>
            </li>
            <li><button type="button" data-toggle="modal" data-target="#myModal" style="background-color:transparent;border:none;margin-left:15px;color:black;font-size:17px">Afiş</button></li>

            <li><a href="/Home/Registration" target="_blank">Kayıt Ol</a></li>
            <li><a href="/Home/Contact">İletişim</a></li>
            <li class="dropdown">
                <a href="#"><span>TR/AR/EN</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li> <a onclick=" goster(1)">EN</a></li>
                    <li>  <a onclick=" goster(2)">AR</a></li>
                    <li> <a onclick=" goster(3)">TR</a></li>
                </ul>
            </li>
            <li><a href="/Login/Manager_Login" target="_blank">Giriş Yap</a></li>


        </ul>
    </div>

    <i class="bi bi-list mobile-nav-toggle"></i>


    <div id="englishh">
        <ul>
            <li><a href="/Home/Index">Home</a></li>

            <li class="dropdown">
                <a href="#"><span>About the Congress</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Invitation">Invitation</a></li>
                    <li><a href="/Home/Committee">Committee</a></li>
                    <li><a href="/Home/Important_Date">Important Dates</a></li>
                    <li><a href="/Home/General_Information">General Information</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>Scientific Content</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Subject_Headings">Subject Headings</a></li>
                    <li><a href="/Home/Program">Scientific Program</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>Papers</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Abstract_Rules">Rules</a></li>
                    <li><a href="/Home/Writing_Rules">Writing Rules</a></li>
                    <li><a href="/Home/Submit_Abstract">Submit Abstract</a></li>
                    <li><a href="/Home/Accepted_Abstract">Accepted Abstracts</a></li>
                    <li><a href="/Home/Submit">Submit Full Text</a></li>
                </ul>
            </li>
            <li><button type="button" data-toggle="modal" data-target="#myModal" style="background-color:transparent;border:none;margin-left:15px;color:black;font-size:17px">Poster</button></li>

            <li><a href="/Home/Registration" target="_blank">Registration</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
            <li class="dropdown">
                <a href="#"><span>TR/AR/EN</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li> <a onclick=" goster(1)">EN</a></li>
                    <li>  <a onclick=" goster(2)">AR</a></li>
                    <li> <a onclick=" goster(3)">TR</a></li>
                </ul>
            </li>
            <li><a href="/Login/Manager_Login" target="_blank">Login</a></li>


        </ul>

    </div>


    <div id="arabicc">
        <ul>
            <li><a href="/Home/Index">الصفحة الرئيسية</a></li>

            <li class="dropdown">
                <a href="#"><span>حول المؤتمر</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Invitation">رسالة دعوة</a></li>
                    <li><a href="/Home/Committee">لجنة</a></li>
                    <li><a href="/Home/Important_Date">تواريخ مهمة</a></li>
                    <li><a href="/Home/General_Information">معلومات عامة</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>المحتوى العلمي</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Subject_Headings">عناوين الموضوع</a></li>
                    <li><a href="/Home/Program">برنامج علمي</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>إشعارات</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="/Home/Abstract_Rules">قواعد</a></li>
                    <li><a href="/Home/Writing_Rules">قواعد الكتابة</a></li>
                    <li><a href="/Home/Submit_Abstract">إرسال ملخص</a></li>
                    <li><a href="/Home/Accepted_Abstract">الملخصات المقبولة</a></li>
                    <li><a href="/Home/Submit">إرسال نص كامل</a></li>
                </ul>
            </li>
            <li><button type="button" data-toggle="modal" data-target="#myModal" style="background-color:transparent;border:none;margin-left:15px;color:black;font-size:17px">ملصق</button></li>

            <li><a href="/Home/Registration" target="_blank">سجل</a></li>
            <li><a href="/Home/Contact">اتصال</a></li>
            <li class="dropdown">
                <a href="#"><span>TR/AR/EN</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li> <a onclick=" goster(1)">EN</a></li>
                    <li>  <a onclick=" goster(2)">AR</a></li>
                    <li> <a onclick=" goster(3)">TR</a></li>
                </ul>
            </li>
            <li><a href="/Login/Manager_Login" target="_blank">تسجيل الدخول</a></li>


        </ul>

    </div>
</nav>