@model IEnumerable<Entities.Concrete.Slider>

<div class="w100-content w3-section">
    @foreach (var item in Model)
    {
        <img class="mySlides" src="@item.ImagePath" style="width:100%">
    }
    @*<img class="mySlides" src="~/Images/2.2.2021-191850.png" style="width:100%">
    <img class="mySlides" src="~/Images/2021.jpg" style="width:100%">
    <img class="mySlides" src="~/Images/4.png" style="width:100%">*@


</div>

