
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .contact .info-box {
        height: 150px
    }
</style>


<section id="contact" class="contact">

    <div class="container">
        <div id="english">
            <h5>Submit Full Text</h5>
            <div class="bBorder"></div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="info-box mb-12">
                        <form action="Submit" method="post" enctype="multipart/form-data">
                            <input type="file" name="Filee" id="Filee" style="margin-top:45px" required />

                            <input type="submit" class="btn btn-secondary" />
                            @if (TempData["Success"] != null)
                            {
                                <div class="success">
                                    <br />
                                    <p>@TempData["Success"].ToString()</p>
                                   
                                </div>
                            }
                        </form>

                    </div>
                </div>



            </div>
        </div>


        <div id="turkish">
            <h5>Tam Metni Gönderin</h5>
            <div class="bBorder"></div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="info-box mb-12">
                        <form action="Submit" method="post" enctype="multipart/form-data">
                            <input type="file" name="Filee" id="Filee" style="margin-top:45px" required />

                            <input type="submit" class="btn btn-secondary" value="Gönder" />
                            @if (TempData["Success"] != null)
                            {
                                <div class="success">
                                    <br />
                                    <p>@TempData["Success"].ToString()</p>
                                </div>
                            }
                        </form>

                    </div>
                </div>



            </div>
        </div>

        <div id="arabic">
            <h5>إرسال النص الكامل</h5>
            <div class="bBorder"></div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="info-box mb-12">
                        <form action="Submit" method="post" enctype="multipart/form-data">
                            <input type="file" name="Filee" id="Filee" style="margin-top:45px" required/>

                            <input type="submit" class="btn btn-secondary" />
                            @if (TempData["Success"] != null)
                            {
                                <div class="success">
                                    <br />
                                    <p>@TempData["Success"].ToString()</p>
                                </div>
                            }
                        </form>

                    </div>
                </div>



            </div>
        </div>

    </div>
</section>


